/*
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    top: 17vh;
}*/

#banner {
    width: 100%;
    height: 70vh;
    background-image: url("../images/mdg-valgvake.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
   
}

.banner-heading {
    background-color: #66C9D8;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 80%;
    padding: .2em;
}

#join-us {
    
    width: 80%;
    height: fit-content;
    margin: 10em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    flex-wrap: wrap;
    align-items: space-between;
}

article {
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 40em;
    margin-bottom: 4em;
}

#member-button, #donor-button {
    margin-bottom: 1em;
}

#a1 .ingress, #a2 .ingress, #a1 h2 {
    width: 80%;
    margin: 1em auto;
}

/*FORM*/

input[type=radio] {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    

}

input[type=radio] + label {
    background-color: #66C9D8;
    display: inline-block;
}

input[type=radio] + label:checked {
    background-color: #D94B8E;
}

input[type=radio]:focus + label {
    font-style: italic;
    background-color: #D94B8E;
  }

.radio-label {
    margin-top: .2em;
}