/*HVA MENER MDG-BOKS forside*/
.choice-box-front {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
}

.choice-heading-front{
    margin-left: 1em;
    margin-top: 1em;
}

#front-form {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: center;
    margin: 2em 3em 1em 3em;
}

#front-input {
    background-color:white;
    border: 4px solid #4f5151;
    color: #4f5151;
    grid-column: 1 / span 1;
    width: 100%;
    padding: .2em;   
}

#submit-front { 
    height: 2.8em;
    justify-self: end;
    width: 80%;
}


/*HVA MENER MDG-BOKS - underside*/
.choice-box-underpage {
    background-color: white;
    grid-row: 1 / span 1;
    grid-column: 2 / span 4;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5em;
    min-height: 10em;
    padding: 2em;
}
    
#choice-heading-underpage {
    text-align: left;
    margin-left: .3em;
}
    
#underpage-form {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 70% 25%;
    grid-template-rows: 1fr;
    margin: 1em .5em;
    gap: 1em;
}

#underpage-input {
    grid-column: 1 / span 1;
    width: 100%;
    
}

#submit-underpage { 
    grid-column: 2 / span 1;
    justify-self: end;
    width: 90%;
}



/*IKONER (Kun i bruk på "Hva mener MDG-seksjonen"*/
.arrow-down, .arrow-up {
    width: 8em;
    z-index: 5;
    text-align: center;
}

#down-arrow, #up-arrow {
    width: 5em;
}

.arrow-down:hover {
    filter: saturate(90);
}
.arrow-up:hover {
    filter: saturate(90);
}


/*BUTTONS*/
.standard-button {
    border: none;
    color: white;
    padding: .5em;
    background-color: #D94B8E;
}

.standard-button:hover {
    background-color: #a2b424;
}

#donor-button {
    background-color:  #F4CF27;
    color: #4f5151;
}

#member-button {
    background-color: #6a9325;
}

#member-button, #donor-button {
    width: 100%;
}

#member-button:hover, #donor-button:hover {
    background-color: #a2b424;
    color: white;
}


/*SKJEMAER*/

input, select, textarea {
    background-color:white;
    border: 3px solid #4f5151;
    color: #4f5151;
    width: 100%;
    padding: .2em;
    
}

input[type=submit] { 
    background-color: #D94B8E;
    color: white;
    border: none;
    height: 2em;
    padding: .2em;
}

input[type=submit]:hover {
    background-color: #a2b424;
}

label {
    background-color: #a2b424;
    color: white;
    padding: .3em;
}

.join-form input, #feedback-form input, #feedback-form select {
    margin-bottom: 2em;
    margin-top: .5em;  
}

#join-submit1 {
    margin-top: 2em;
    margin-bottom: 6em;
}


