/*BAKGRUNNSBILDE OG CONTAINER*/
#banner-politics {
    width: 100%;
    height: 53vh;
    position: relative;
    top: 17vh;
    background-image: url("../images/landsmote-mdg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*OVERSKRIFT*/
.banner-heading {
    background-color: #F4CF27;
    color: #4f5151;
    margin: 0 auto;
    position: relative;
    padding: .2em;
    width: fit-content;
}

#heading-politics {
    top: 7%;
    width: 60%;
    height: 60vh;
    position: relative;
}

/*HVA-MENER-MDG-BOKS*/
.choice-box-underpage {
    width: 50%;
    margin: 0 auto;
    height: 15em;
    position: relative;
    top: -10vh;
}


/*NAVIGASJONSBOKSER*/
#topic-boxes {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 2em auto;
    position: relative;
    top: 20vh;
}

.topic-box {
    width: 30em;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.topic-box:hover{
    width: 32em;
    height: 21em;
    transition: .3s;
    transform-origin: center;
}


#ocean, #education {
    background-image: url("../images/graphics/ocean.png");
    background-position: center;
}
#climate, #social {
    background-image: url("../images/graphics/ice.png");
    background-position: center left;
}
#cities, #transport {
    background-image: url("../images/graphics/cities.png");
    background-position: 80%;
}
#nature, #health {
    background-image: url("../images/graphics/animal.png");
    background-position: center;
}





