/*
"Hva mener MDG"-boksen ligger i "boxes-and-icons".
Headeren ligger i "header-and-nav"*/


/*BAKGRUNNSBILDE*/
#main-content {
    height: 75vh;
    background-image: url("../images/urban-forest.jpg");
    background-size: cover;
    background-position: top right;
    display: flex;
    align-items: center;
    justify-content: center;
}


