/*bakgrunnsbilde*/
#main-content {
    height: 75vh;
    background-image: url("../images/mdg-youngstorget.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

