/*RAMMEVERK OG BAKGRUNN*/
main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#feedback-background {
   background-image: url("../images/stortinget1.png");
   background-size: cover;
   background-position: top;
   width: 100%;
   height: 70vh;
   position: relative;
}

/*HAR DU INNSPILL - skjema og overskrifter*/
#feedback-container {
    width: 70%;
    height: fit-content;
    background-color:white;
    margin: 0 auto;
    position: absolute;
    top: 55vh;
}

#feedback-headings {
   margin: 5em 2em 1em 2em;
}

#feedback-form-section {
    width: 100%;
    height: fit-content;
    margin: 3em auto;
}

form {
    width: 60%;
    margin: 0 auto;
}

#submit {
    width: 95%;
    margin-top: 1em;
}
/*Stylingen til input og label m.m ligger i "boxes-and-icons"*/
