* {
    margin: 0;
    box-sizing: border-box;
}



/*VIDEOSEKSJON*/

#s-video {
    position: relative;
    top: 17vh;
    height: fit-content;
    background-color:  #4F5151;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto 2em auto;
    padding: 1em;
}

#animated-h1 {
    
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    animation-duration: 2s;
     white-space: nowrap;
    border-right: 4px solid #D94B8E;
    font-size: 7rem;
    text-align: center;
    word-wrap: break-word;
    
    
}

#text-wrapper1 {
   
    padding: 1em;
    
    
    
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #D94B8E; 
    }
}


/*FREMHEVEDE POLITIKERE*/



#s1-pol {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh 50vh;
    grid-auto-flow: column;
    position: relative;
    top: 17vh;
    margin-bottom: 5em;


}




#a1, #a2, #a3 {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-items: center;
}





#a1-img, #a2-img, #a3-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

#a1-img, #text2, #a3-img {
    grid-column: 1 /span 1;
}
#text1, #a2-img, #text-3 {
    grid-column: 2 / span 1;
}

.text-wrap-pol {
    width: 40vw;
    margin: 0 3em 1em 3em;
}

.p-pol {
    padding-top: 1em;
}

.h3-pol {
    margin-top: .5em;
    margin-bottom: 0;
}

.h2-pol {
   margin-top: 1em; 
}

/*FYLKESPOLITIKERE*/

#s2-pol {
    
    position: relative;
    top: 17vh;
    width: 100%;
    margin: 15em auto;
    
}

.h1-backgroundcolor {
    color: white;
    background-color: #D94B8E;
    
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    
}

#flex-wrapper img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    object-position: top;
}

#flex-wrapper .text-wrap-pol {
    width: 100%;
    margin: 1em 0 1em 0;
}

#flex-wrapper {
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
}

#flex-wrapper article {
  
    width: 350px;
    margin: 0 1em 2em 1em;
}

