* {
    box-sizing: border-box;
    margin: 0;
}

/*RESPONSIVT*/

@media (max-width: 1340px) {
    main {
        background-color: yellow;
    }

    #join-us {
        margin-top: 15em;
    }

    /*BLI MED*/
   
    .banner-heading {
        top: 75%;
    }

    /*INNSPILL*/
    #feedback-container {
        top: 45vh;
        
    }
    
}

@media (max-width: 1148px) {

    main {
        background-color: gray;
    }

    /*HEADER and NAV*/

    /*underpage*/
    .main.main-nav-underpage {
        padding-left: .5em;
    }
    #cb:checked ~ #burger div:first-child {
        transform: translateY(1.5em) rotate(45deg);
    }
    
    #cb:checked ~ #burger div:last-child {
        transform: translateY(-1.5em) rotate(-45deg);
    }

    /*frontpage*/
    #slogan {
        margin-left: 5vw;
    }
    
    #main-nav {
        height: 11vh;
    }

    /*HVA-MENER-VI-BOKSEN*/

    /*frontpage*/
    .choice-box-front {
        
        height: 53%;
    }

    .search-heading-front {
        margin: .5em auto;
        
    }

    #front-form {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: left;
        align-items: start;
        width: 80%;
        margin: 0 auto .5em auto;
        grid-row: 2 / span1;
        gap: .5em;
    }



    #front-input {
        background-color: white;
        border: 4px solid #4f5151;
        color: #4f5151;
        grid-column: 1 / span 1;
        width: 100%;
        padding: 0;    
    }
    
    #search { 
        height: 2em;
        justify-self: start;
        width: 100%;
        background-color: #D94B8E;
        border: none;
        color: white;
    }

    .big-pol {
        align-items: top;
    }

    .p-pol {
        padding-top: .5em;
        
    }
}

@media (max-width: 950px) {
    /*samferdsel*/
    .color-heading {
        align-self: center;
    }

    
}



@media (max-width: 882px) {
    main {
        background-color: blue;
    }
   
     /*HEADER and NAV*/

     /*underpage*/
    #nav-1-underpage, #nav-2-underpage, #nav-3-underpage, #nav-4-underpage {
        padding: 1em 1em 1em 0;
    }

    /*frontpage*/
    #slogan {
        font-size: 7rem;
    }

    #nav-1, #nav-2, #nav-3, #nav-4 {
        font-size: 1.8rem;
    }

    /*POLITIKERE*/
    #animated-h1 {
    font-size: 6rem;

    }

    #s1-pol {
        margin-top: 4em;
    }

    /*BLI MED*/

    .banner-heading {
        width: 90%;
        font-size: 6rem;
        top: 90%;
    }

    /*POLITIKERE*/

    #s1-pol {
        
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: auto;
        gap: 4em;
    }
    
    #a1 {
        grid-row: 1 /span 1;
    }

    #a2 {
        grid-row: 2 / span 1;
    }
    
    #a3 {
        grid-row: 3 / span 1;
    }
    
    #a1, #a2, #a3 {
        height: auto;
        display: grid;
        grid-template-areas: 
            "image image"
            "text text";
        width: 100%;
        
    }

    #a1-img, #a2-img, #a3-img {
        grid-area: image;
    }
    
    #text1, #text2, #text3 {
        grid-area: text;
    }
    
    .text-wrap-pol {
        width: 90%;
    }
    
     /*SAMFERDSEL*/
     .color-heading {
        align-self: center;
        
    }
    
    .large-img {
        grid-row: 1 / span 3;
        grid-column: 1 / span 12;
        background-position: top;
        
    }

    .choice-box-a1 {
        display: none;
    }

    .bullet-points {
        grid-column: 2 / span 10;
        grid-row: 1 /span 3;
        display: grid;
        grid-template-rows: 20% 60% 20%;
        align-items: center;
        background-color: white;
        
    }

    .arrow-down {
        grid-row: 3;
        align-self: end;
        grid-column: 4 /span 6;
        justify-self: center;
    }

    #text-wrapper {
        width: 100%;
        top: 40vh;
    }

    #article-text {
        width: 80%;


  
    
}






@media (max-width: 699px) {
    main {
        background-color: red;
    }

     /*HEADER and NAV*/

     /*underpage*/
    .main-nav-underpage {
        display: none;
    }
   
    #header-underpage-content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        justify-items: center;
    }
    
    a #logo-underpage {
        width: 9.5em;
        height: 7em;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

   
     
     #search-icon {
         display: none;
     }

     /*frontpage*/
     #slogan {
        display: none;
    }

    #search-front {
        display: none;
    }

    #burger-front {
        top: 4vh;
        right: 2em;
    }

    #header-frontpage-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;

    }
    
    #main-nav {
        display: none;
    }

    .search-heading-front {
        font-size: 5rem;
    }

    /*POLITIKERE*/
    #animated-h1 {
        font-size: 4rem;
        padding-top: .6em;
    }

    #s1-pol {
        margin-top: -2em;
    }
     
     /*INNSPILL*/
     #feedback {
        width: 90%;
    }

    #feedback-container {
        width: 90%;
        
    }
    
    .membership input, #feedback input, #feedback select {
        margin-bottom: 2.5em;
        margin-top: .5em;
        
    }

    /*SAMFERDSEL*/
  
}