/*Koden er organisert etter @media-queries:

1. max-width: 1340px (gul)
2. max-width: 1148px (grå)
3. max-width: 950px
4. max-width: 882px
5. max-width: 699px

*/

@media (max-width: 1340px) {
    
    /*main {
        background-color: yellow;
    }*/

    /*BLI MED*/
    #join-us-section {
        margin-top: 15em;
    }

    .banner-heading {
        top: 75%;
    }

    /*INNSPILL*/
    #feedback-container {
        top: 45vh;
    }

    /*HVA MENER MDG*/
    #topic-boxes {
        width: 90%;
        height: 100vh;
}




@media (max-width: 1148px) {
    /*
    main {
        background-color: gray;
    }*/

    /*NAV*/
    .main-nav-underpage {
        padding-left: .5em;
    }

    #main-nav {
        height: 11vh;
    }
    
    /*FORSIDE*/
    #slogan {
        margin-left: 5vw;
    }
    
    /*BOKSER*/
    .choice-box-front {
        height: 53%;
    }

    .choice-heading-front {
        margin: .5em auto; 
    }

    #front-form {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: left;
        align-items: start;
        width: 80%;
        margin: 0 auto .5em auto;
        grid-row: 2 / span1;
        gap: .5em;
    }

    #front-input {
        background-color: white;
        border: 4px solid #4f5151;
        color: #4f5151;
        grid-column: 1 / span 1;
        width: 100%;
        padding: 0;    
    }
    
    #submit-front { 
        height: 2em;
        justify-self: start;
        width: 100%;
        background-color: #D94B8E;
        border: none;
        color: white;
    }

    /*POLITIKERE*/
    .featured-pol {
        align-items: top;
    }

    .p-pol {
        padding-top: .5em;
        
    }

    /*HVA MENER MDG*/
    #topic-boxes {
        width: 90%;
        height: 130vh;
    }

    
    
}




@media (max-width: 950px) {
    /*HVA MENER MDG*/
    .color-heading {
        align-self: center;
    }
 




@media (max-width: 882px) {
   /* 
    main {
        background-color: blue;
    }*/
   
     /*NAV*/
    #nav-1-underpage, #nav-2-underpage, #nav-3-underpage, #nav-4-underpage {
        padding: 1em 1em 1em 0;
    }

    #nav-1, #nav-2, #nav-3, #nav-4 {
        font-size: 1.8rem;
    }

    /*FORSIDE*/
    #slogan {
        font-size: 7rem;
    }

    /*BLI MED*/
    .banner-heading {
        width: 90%;
        font-size: 6rem;
        top: 40%;
    }

    #banner-join {
        height: 100vh;
    }

    #join-us-section {
        margin-top: 5em;
        top: -40vh;
    }

    #membership-join {
        background-color: white;
    }

    /*POLITIKERE*/
    #section1-pol {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: auto;
        gap: 4em;
    }
    
    #candidate1 {
        grid-row: 1 /span 1;
    }

    #candidate2 {
        grid-row: 2 / span 1;
    }
    
    #candidate3 {
        grid-row: 3 / span 1;
    }
    
    #candidate1, #candidate2, #candidate3 {
        height: auto;
        display: grid;
        grid-template-areas: 
            "image image"
            "text text";
        width: 100%;
    }

    #candidate1-img, #candidate2-img, #candidate3-img {
        grid-area: image;
    }
    
    #candidate1-text, #candidate2-text, #candidate3-text {
        grid-area: text;
    }
    
    .text-wrap-pol {
        width: 90%;
    }

    #animated-h1 {
        font-size: 6rem;
    }
    
    #section1-pol {
        margin-top: 4em;
    }

    /*INNSPILL*/    
    #feedback-background {
        height: 100vh;
    }
    
     /*HVA MENER MDG?*/
     .color-heading {
        align-self: center;
    }
    
    .background-image {
        grid-row: 1 / span 3;
        grid-column: 1 / span 12;
        background-position: top;
    }

    .choice-box-underpage {
        display: none;
    }

    .bullet-points {
        grid-column: 2 / span 10;
        grid-row: 1 /span 3;
        display: grid;
        grid-template-rows: 20% 60% 20%;
        align-items: center;
        background-color: white;   
    }

    .arrow-down {
        grid-row: 3;
        align-self: end;
        grid-column: 4 /span 6;
        justify-self: center;
    }

    #text-wrapper {
        width: 100%;
        top: 40vh;
        
    }

    #article-text {
        width: 80%;
    }

    #banner-politics {
        height: 100vh;
    }


    #topic-boxes {
        top: -70vh;
        width: 80%;
        height: 150vh;
    }

    .topic-box:hover {
        width: 32em;
        height: 21em;
        border: 6px solid white;
    }



   


@media (max-width: 699px) {
    
    main {
        background-color: red;
    }

     /*NAV*/
    .main-nav-underpage {
        display: none;
    }

    #main-nav {
        display: none;
    }

    /*HEADER UNDERSIDER*/
    #header-underpage {
        height: 25vh;
        position: relative;
    }
   
    #header-underpage-content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        justify-items: center;
    }
    
    a #logo-underpage {
        width: 9.5em;
        height: 7em;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    #search-icon {
        display: none;
    }

     /*FORSIDEN*/
     #slogan, #search-icon-front {
        display: none;
    }

    #burger-frontpage {
        top: 4vh;
        right: 2em;
    }

    #header-frontpage-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }
    
    .choice-heading-front {
        font-size: 5rem;
    }

    .choice-box-front {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        position: relative;
    }

    /*MAIN*/
    #sti {
       display: none;
    }

    /*POLITIKERE*/

    #section-video {
        top: 0;
    }
    #animated-h1 {
        font-size: 4rem;
        padding-top: .6em;
    }

    #section1-pol {
        margin-top: -2em;
    }
     
     /*INNSPILL*/
     #feedback-form {
        width: 90%;
    }

    #feedback-container {
        width: 90%;
    }
    
    .join-form input, #feedback-form input, #feedback-form select {
        margin-bottom: 2.5em;
        margin-top: .5em;
    }

    /*HVA MENER MDG?*/
    #section1-basic{
        top: 0;
        height: 76vh;
    }

    #section2-elaborate {
        padding-top: 0;
    }

    .arrow-down {
        align-self: center;
    }

    .check-ul {
        padding: 1em;
        margin: .5em auto;
    }
    .check-li {
        font-size: 1.7rem;
    }

    .color-heading {
        align-self: end;
    }

    #topic-boxes {
    width: 50%;
    height: 280vh;
    top: -90vh;
    }

    #banner-politics {
        top: 0;
    }

   

  
    /*BLI MED*/
    .banner-heading {
        width: 90%;
        font-size: 6rem;
        top: 15%;
    }

    #banner-join {
        height: 100vh;
    }

    #join-us-section {
        margin-top: 5em;
        top: -45vh;
        background-color: white;
        width: 100%;
    }

    #membership-join, #donor-join {
        width: 100%;
    }

    .join-form {
        width: 90%;
        margin: 0 auto;
        margin-top: 2em;
    }
}
