#s1 {
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 60% 20%;
    grid-auto-flow: column;
   
}

#s2 {
    height: 85vh;
    width: 80%;
    margin: 0 auto;
    
    
}

/*bakgrunnsbildet*/
.large-img {
    grid-row: 1 / span 3;
    grid-column: 1 / span 6;
    background-image: url("../images/hurtigtog.jpeg");
    background-size: cover;
    background-position: center;   
}


/*Kulepunktteksten*/
.bullet-points {
    grid-column: 7 / span 6;
    grid-row: 1 /span 3;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    align-items: center;
}

.color-heading {
    color:  #66C9D8;
    align-self: end;
}

.check-ul {
    margin: 1em auto;
    padding: 2em; 
}

.check-li {

    list-style: none;
    background-image: url("../images/check_check.png");
    background-position: left;
    background-repeat: no-repeat;
    
    
    line-height: 2em;
    padding: 1em 1em 1em 2em;
}


/*Ikonene*/
.arrow-down {
    grid-row: 3;
    align-self: end;
    grid-column: 7 /span 6;
    justify-self: center;
     }

.arrow-up {
    
    
       
         }


/*Artikkelteksten*/

