/*Koden er organisert slik:
1. Fonter
2. Overskrifter
3. Generelle klasser
4. Spesifikke overskrifter/id
5. Bokser
6. Buttons
8. Navigasjon
9. Sti
10. Lister
11. Ikoner
10. Skjema*/



/*FONTER*/
@font-face {
    font-family: 'League Gothic';
    src: url("fonts/leauge-gothic/LeagueGothic-Regular.otf") format(truetype);
}

@font-face {
    font-family: 'Avenir Next LT Pro Demi';
    src: url("fonts/avenir-next-LT-Pro/AvenirNextLTPro-Demi.otf") format(truetype);
}

@font-face {
    font-family: 'Avenir Next LT Pro Bold';
    src: url("fonts/avenir-next-LT-Pro/AvenirNextLTPro-Bold.otf") format(truetype);
}

@font-face {
    font-family: 'The Hand';
    src: url("fonts/the-hand/TheHandXtraBlk.ttf") format(truetype);
}

@font-face {
    font-family: 'Adobe Caslon Pro ';
    src: url("fonts/a-Caslon-Pro/ACaslonPro-Regular.otf") format(truetype);
}


/*OVERSKRIFTER*/
h2 {
    font-family: "Avenir Next LT Pro";
    font-weight: 500;
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 1em;
}

h3 {
    font-family: "Avenir Next LT Pro";
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 1em;
}

p {
    font-family: "Adobe Caslon Pro";
    font-size: 2rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}


/*GENERELLE KLASSER*/
.h1-backgroundcolor {
    font-family: "League Gothic";
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.ingress {
    font-family: "Adobe Caslon Pro";
    font-size: 2rem;
    line-height: 1.7;
    text-align: left;
    font-weight: 700;
}

.color-heading {
    font-family: "League Gothic";
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #66C9D8;
}

.topic-heading {
    font-family: "League Gothic";
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    margin: 0;
}

.h2-pol {
    font-size: 2rem;
    font-weight: 900;
    background-color: #a2b424;
    width: fit-content;
    color: white;
    padding: .3em;
}

.h3-pol {
    font-size: 1.8rem;
    font-weight: 500;   
}


/*SPESIFIKKE OVERSKRIFTER/ID*/
#slogan, .banner-heading {
    font-family: "League Gothic", sans-serif;
    font-size: 9rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

#feedback-headings h2 {
    text-align: center;
    font-weight: 700;
}


/*BOKSER*/
.choice-heading-front{
    font-family: "The Hand";
    font-weight: 900;
    font-size: 6rem;
    text-align: left;
}

#choice-heading-underpage {
    font-family: "The Hand";
    font-weight: 900;
    font-size: 3.5rem;
    text-align: center;
}


/*BUTTONS
(buttons som er input[type=submit] ligger under "SKJEMAER")*/
.standard-button {
    font-family: "League Gothic", "Avenir Next LT Pro", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#member-button, #donor-button {
    font-size: 3rem;
}


/*NAVIGASJON*/
#nav-1, #nav-2, #nav-3, #nav-4, #nav-1-underpage, #nav-2-underpage, #nav-3-underpage, #nav-4-underpage {
    font-family: 'Avenir Next LT Pro';
    font-size: 2rem;
    font-weight: 700px;
}


/*STI*/
#sti a {
    font-family: "Avenir Next LT Pro";
    font-size: 1.5rem;
    text-decoration: none;
}


/*LISTER*/
.check-li {
    font-size: 2rem;
    font-family: "Avenir Next LT Pro";
    font-weight: 500;
}


/*IKONER*/
.arrow-down figcaption {
    font-family: "Avenir Next LT Pro";
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}

.arrow-up figcaption {
    font-family: "Avenir Next LT Pro";
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}

/*burger*/
#dropdown-menu a {
    font-family: "Avenir Next LT Pro";
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}


/*SKJEMAER*/
form, select, textarea, input[type=text], input[type=email], input[type="number"], input[type=date] {
    font-family: "Avenir Next LT Pro";
    font-size: 2rem;
    font-weight: 500;
}

input[type=submit], #underpage-input, #underpage-search-button, #front-input { 
    font-family: "League Gothic";
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#front-input  {
    font-size: 4rem;
}

#submit-front {
    font-size: 2.5rem;
}

