/*bakgrunnsbilde*/
#main-content {
    width: 100%;
    max-width: 100%;
    height: 65vh;
    background-image: url
    background-size: cover;
    background-position: top;
    animation-name: altering-image;
    animation-duration: 100s;
    animation-iteration-count: infinite;
   
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-auto-flow: column;
}