* {
    margin: 0;
    box-sizing: box-model;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    color: #4f5151;
}


/*STI*/

#sti {
    display: flex;
    flex-direction: row;
    padding: .8em;
    height: 3%;
}

#sti a {
    font-family: "Avenir Next LT Pro";
    font-size: 1rem;
    text-decoration: none;
}

#sti h4 {
    padding: 0 1em;
}

#sti a:hover {
    color: #6a9325;
}
